<!DOCTYPE html>
<html lang="en" xmlns:th="htt[://www.thymeleaf.com">
<head>
    <meta charset="UTF-8" />
    <title>Roles</title>
    <link rel="stylesheet" type="text/css" href="../css/table.css" th:href="@{/css/table.css}" />
</head>
<body>
    <body>
        <table>
            <thead>
                <tr>
                    <th>Role ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="role: ${roles}">
                    <td th:text="${role.id}" />
                    <td th:text="${role.name}" />
                </tr>
            </tbody>
        </table>
    </body>
</body>
</html>